






	

aside {

	position: relative;
	top: -535px;
	left: 640px;
	background-color: #d9ffde;
	border-style: solid;
	border-width: 8px;
	border-color: white;
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
	height: 550px;
	width: 302px;







